.index ol{
	padding-left: 1.5em;
}

.index>ol{
	padding-left: 0;
}

li.order{
	list-style-type: none;
}

li.example{
	list-style-type: disc;
}

li.example>a{
	color: gray;
}

.index>ol>li.order{
	counter-increment: counter1 1;
	font-size: 19px;
}
.index>ol>li.order:before{
	content: "第" counter(counter1, cjk-ideographic) "部分 ";
}

.index>ol>li>ol>li.order{
	counter-increment: counter2 1;
	font-size: 18px;
}
.index>ol>li>ol>li.order:before{
	width: 3em;
	display: inline-block;
	text-align: right;
}

.index>ol>li>ol>li>ol>li.order{
	counter-increment: counter3 1;
	font-size: 17px;
}
.index>ol>li>ol>li>ol>li.order:before{
	content: counter(counter3) ". ";
}

.index>ol>li>ol>li>ol>li>ol>li.order{
	counter-increment: counter4 1;
	font-size: 16px;
}
.index>ol>li>ol>li>ol>li>ol>li.order:before{
	content: "（" counter(counter4) "）";
}

.index>ol>li>ol>li>ol>li>ol>li>ol{
	padding-left: 3.5em;
}
