main {
	max-width: 1012px;
	margin-left: auto;
	margin-right: auto;
}

hr{
	border: none;
	border-top: 1px solid #eaecef;
}

a:link, a:visited, a:hover, a{
	color: #337ab7;
	text-decoration: none;
}

a.jud:before{
	content: '【';
	color: black;
}

a.jud:after{
	content: '】';
	color: black;
}

/* 标题 */
h1{
	text-align: center;
}

h2{
	counter-increment: counter1 1;
	counter-reset: counter2 counter3 counter4;
	font-size: 1.5em;
}

h2:before{
	content: counter(counter1, cjk-ideographic) '、';
	font-size: 1em;
}

h3{
	counter-increment: counter2 1;
	counter-reset: counter3 counter4;
	font-size: 1.3em;
}

h3:before{
	content: counter(counter1) '.' counter(counter2) ' ';
	font-size: 1em;
}

h4{
	counter-increment: counter3 1;
	counter-reset: counter4;
	font-size: 1.1em;
}

h4:before{
	content: '（' counter(counter1) '.' counter(counter2) '.' counter(counter3) '）';
	font-size: 1em;
}

h5{
	counter-increment: counter4 1;
	font-size: 1em;
}

h5:before{
	content: '【' counter(counter4) '】';
	font-size: 1em;
}

h6{
	font-weight: bold;
	font-size: 1em;
	margin-top:	1em;
	margin-bottom: 0.5em;
}

h6:before{
	content: "❉";
	font-size: 1em;
}

div.local h6:before,
div.example h6:before{
	content: '';
}

h6+p{
	margin-top:	0;
}

p{
	text-align: justify;
	white-space: pre-line;
}

p+ul, p+ol{
	margin-top: -0.5em;
}

code{
	display: block;
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
	background-color: #f6f8fa;
	padding: 8px 16px;
	white-space: pre-wrap;
	margin-bottom: 1em;
}

/* 内联引用 */
q{
	font-style: italic;
}

/* 表格 */
table{
	border-collapse: collapse;
	margin-bottom: 1em;
	max-width: 100%;
	margin: 1em auto;
}

table tbody tr:nth-child(2n){
	background-color: #f6f8fa;
}

table td,
table th{
	border: 1px solid #dfe2e5;
	padding: 6px 13px;
}

table th{
	white-space: nowrap;
}

table caption{
	font-weight: bold;
	white-space: nowrap;
}

table.nowrap td{
	white-space: nowrap;
}

.table-wrap{
	width:	100%;
	overflow-x: auto;
}

table.center{
	text-align: center;
}

/* 重点 */
.strong{
	font-weight: bold;
}

img{
	max-width: 100%;
}

.img-wrap{
	text-align: center;
}

/* 法律引用 */
div.law{
	white-space: pre-line;
	font-family: serif, cursive;
	border-left: .25em solid #dfe2e5;
	padding: 0 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.question, 
div.example, 
div.local,
div.special,
div.document{
	background-color: #f7f7f7;
	border-radius: 4px;
	padding: 3px 5px;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.question,
div.local,
div.example{
	border: 1px solid black;
}

div.local hr{
	border-top: 1px solid black;
}

div.question .question-title,
div.local .local-title,
div.example .example-title,
div.document .document-title{
	font-weight: bold;
	background-color: #f7f7f7;
	display: inline-block;
	margin-top: -15px;
	margin-left: 2em;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.anchor>div{
	width: 50%;
	display: inline-block;
}

.anchor>div:nth-child(1){
	text-align: left;
}

.anchor>div:nth-child(2){
	text-align: right;
}

.small,
sup{
	font-size: 75%;
}

aside{
	padding-left: 2em;
}
